$colorbg: #278241;
$colorwhi: #FFFFFF;
$dropdown-border-radius:20px;
$input-border-radius: 10px;
$input-group-addon-border-color: $colorbg;


html{
    min-height: 100% !important; 
}
body{
    min-height: 100% !important;
}
/* Navbar */

a{
    text-decoration: none;
    color: $colorwhi;
    transition: 0.3s;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    line-height: 1.25rem;
    font-size: 1rem;
}

#lupa{
    position: absolute;
    top: 4px;
    right: 4px;
}

/* Fin nav */

/* edicion de footer*/

footer{
    
    bottom: 100%;
}
/* fin edicion footer*/

/* Material */

#sidebar-menu{
    background-color: black;
    width: 40%;
    min-height: 100vh;
}

#sidebar-menu-mobile{
    display: none;
  }
  #collapse-menu{
    background-color: black;
    padding-left: 5%;
  }


  .listas ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #FFFFFF;
    gap: 15px;
    margin-left: 16%;
  }

  .listas-mobile ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #FFFFFF;
    gap: 15px;
  }

.listas li{
    color: #FFFFFF;
}

#inscribir {
    border-color: #278241;
    background-color: #FFFFFF;
    color: black;
    transition: 0.3s;
    
}

.datos{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    gap: 40%;
    line-height: 15px;
}

#fondo{
    max-width: 165px;
    max-height: 130px;
    border-radius: 20px;
    margin-top: 5px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.4));
    border-radius: 20px;
}


.card-body h5{
    font-size: 16px;
    font-weight: 700;
}

.card-body h6{
    font-size: 12px;
    font-weight: 500;
}
@media screen and (max-width: 1280px) {
  #sidebar-menu{
    display: none;
  }
  #sidebar-menu-mobile{
    display: block;
  }
  .card-body h5{
    font-size: 12px;
  }
  .card-body h6{
    font-size: 10px;
  }
  .datos{
    row-gap: 35px;
  }
  #fondo{
    max-width: 110px;
    max-height: 75px;
    margin-top: 20%;
    margin-left: 20%;
  }
  #body{
    display: flex;
    flex-direction: row;
  }
}




/* Fin material*/

/* Traductor */

#dropdownMenuButton{
    background-color: $colorbg;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

#traducir{
    background: $colorbg;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
    
    padding: 8px 50px;
    gap: 10px;
    margin-top: 20px;
}

/* uso de mixin para area de texto y container*/
@mixin textarea{
    max-width: 600px !important;
    min-height: 340px !important;
    margin-top: 10px;
    background: #FFFFFF !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
}

#floatingTextarea2{
    @include textarea
}

@mixin cont{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
}

.container{
    @include cont
}

/* fin de mixin */

#swap{
    max-width: 48px;
    max-height: 48px;
    margin-top: 20px;
    transform: rotate(90deg);
    align-items: center;
}

/* fin traductor*/

/* Inicio form*/


#sesion{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.orden-boton{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 30px;
}

.seleccion{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 8px;
    gap: 10px;
    background: #FFFFFF;
    border: 2px solid #278241;
    border-radius: 20px;
    transition: 0.4s;
}

.cuenta-google{
    min-width: 300px;
    min-height: 40px;
    border-radius: 20px;
    border-color: $input-group-addon-border-color;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 8px;
    gap: 40px;
    background: #FFFFFF;
    border: 2px solid #278241;
    border-radius: 20px;
    transition: 0.3s;
    margin-bottom: 30px;
}

#input-email{
    border-radius: $input-border-radius;
    border-color: $input-group-addon-border-color;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 8px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;

}



/*Fin form*/

/* Inicio inscripcion*/

.inscripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.inscripcion h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}

.inscripcion p {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.inscripcion img{
    width: 60%;
    border-radius: $input-border-radius;
    margin-bottom: 20px;
}

.boton-columna {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.inscripcion button {
    background: #FFFFFF;
    border: 2px solid #278241;
    border-radius: 20px; 
    padding: 8px 42px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    color: #000000;
    align-items: center;
    text-transform: uppercase;
    transition: 0.4s;
}

@media screen and (max-width:700px) {
    .inscripcion p{
        font-size: 16px;
    }
    .inscripcion h1{
        font-size: 22px;
    }
    .inscripcion button{
        width: 110px;
        height: 25px;
        font-size: 10px;
        padding: 2px 18px;
    }
}

/* fin inscripcion */

/* animaciones */

/*hover nav simple para el contenedor*/


.cuenta-google:hover{
    color: #000000;
    background-color: #BDD045;
    border-color: $colorwhi;
    font-weight: bold;
}

.seleccion:hover{
    color: #000000;
    background-color: #36B5A5;
    border-color: $colorwhi;
    font-weight: bold;
}

.inscripcion button:hover{
    color: #000000;
    background-color: #36B5A5;
    border-color: $colorwhi;
    font-weight: bold;
}

#inscribir:hover{
    color: #000000;
    background-color: #36B5A5;
    border-color: $colorwhi;
    font-weight: bold;
}